#authorize_button {
  visibility: hidden;
};

#signout_button {
  visibility: hidden;
};

.table {
  .row {
    display: table-row;
    .cell {
      display: table-cell;
      border-style: solid;
      border-width: 1px 0px 0px 1px;

      &.head {
        font-weight: 600;
      }

      &:last-child {
        border-width: 1px 1px 0px 1px;
      }
    }
    &.body:hover {
      background-color: rgba(52, 91, 235, 0.5);

    }
    &.body.selected {
      background-color: rgba(52, 91, 235, 0.7)
    }
    &:last-child {
      .cell {
        border-style: solid;
        border-width: 1px 0px 1px 1px;
        &:last-child {
          border-width: 1px 1px 1px 1px;
        }
      }
    }
  }
}

.contextmenu {
  width: max-content;
  position: absolute;
  z-index: 10;
  background-color: white;

  div {
    padding: 2px;
    border: solid;
    border-width: 1px 1px 0px 1px;
    opacity: 1;

    &:last-child {
      border-width: 1px 1px 1px 1px;
    }
  }

  .element:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }
}

